{{define "standalone.html"}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="{{.CSP}}">
  <meta name="referrer" content="no-referrer">
{{template "favicons" .}}
  <title>{{.Title}} · mdfmt</title>
  <style>{{.Stylesheet}}</style>
</head>
<body>
  <div class="layout no-nav">
{{template "main" .}}
{{template "toc-sidebar" .}}
  </div>
  <script>{{.Script}}</script>
</body>
</html>
{{end}}
